.register-page {
  display: flex;
  width: 100%;
  height: 100vh;
}
.reg-container {
  background-color: #65dba3;
  width: 100%;
}
.box-register {
  width: 850px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  background-color: #41b07b;
}

.box-register form {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.box-register form .circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 20px 0;
}

.box-register form .name-input {
  border-radius: 5px;
  border: none;
  width: 650px;
  height: 50px;
  margin: 10px 0;
  font-size: 18px;
}
.box-register form .username-input {
  border-radius: 5px;
  border: none;
  width: 650px;
  height: 50px;
  margin: 10px 0;
  font-size: 18px;
}
.box-register form .email-input {
  border-radius: 5px;
  border: none;
  width: 320px;
  font-size: 18px;
  height: 50px;
  margin: 10px 10px 0 0;
}

.box-register form .password-input {
  border-radius: 5px;
  font-size: 18px;
  border: none;
  width: 320px;
  height: 50px;
}

.box-register form .register-button {
  margin: 30px 0 0 0;
  width: 200px;
  font-family: "Inter";
  font-size: 18px;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: #41b07b;
  letter-spacing: 0.15em;
}
.box-register form .register-button:hover {
  background-color: #65dba3;
  color: #f2fff3;
}

.sign-in {
  margin: 20px 0;
}

.btn-sign-in {
  margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
  .box-register {
    height: auto;
    margin: 200px auto 0 auto;
  }
  .box-register form {
    height: 1000px;
  }
  .box-register form .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin: 70px 0;
  }
  .box-register form .username-input {
    width: 750px;
  }
  .box-register form .name-input {
    width: 750px;
  }
  .box-register form .email-input {
    width: 370px;
  }
  .box-register form .password-input {
    width: 370px;
  }
  .box-register form .register-button {
    margin: 150px 0 0 0;
    width: 300px;
    font-family: "Inter";
    font-size: 25px;
    height: 80px;
    border-radius: 50px;
    border: none;
    color: #41b07b;
    letter-spacing: 0.15em;
  }
  .sign-in {
    margin: 20px 0;
    font-size: 28px;
  }

  .btn-sign-in {
    margin-left: 10px;
  }
}
