.wrapper {
    font-family: 'Inter', sans-serif;
    width: 710px;
    height: 449px;
    margin: auto;
}

.wrapper h1 {
    font-weight: 700;
    font-size: 65px;
    letter-spacing: 0.15em;
    color: #41B07B;
    margin: 4% auto;
}

.wrapper-edit-form {
    background: #65DBA3;
    border-radius: 8px;
    padding: 30px;
}

.form-control-profile {
    background: #41B07B !important;
    border-radius: 8px !important;
    color: #FFF !important;
    border: none;
}

.form-control-profile::-webkit-input-placeholder {
    color: #FFF;
    text-transform: uppercase;
}

.form-control-profile::-ms-input-placeholder {
    color: #FFF;
    text-transform: uppercase;
}

.form-control-profile::-moz-input-placeholder {
    color: #FFF;
    text-transform: uppercase;
}

.game-btn-submit {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.15em;
    color: #41B07B;
    background: #DEF1E0;
    border-radius: 8px;
    padding: 12px 45px;
    display: block;
    margin: 30px auto 0 auto;
}

.game-btn-submit:hover,
.game-btn-submit:active {
    color: #FFF !important;
    background: #41B07B !important;
}

.p-title-form {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0.15em;
    color: #F2FFF3;
    text-align: center;
    margin-bottom: 20px;
}