@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import 'profile.css';
@import 'profile-edit.css';
@import 'modal.css';
/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
    background-color: #F2FFF3;
}

.error-page {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}

.error-page h2 {
    font-size: 80px;
}

.error-page p {
    font-size: 20px;
}


.bg-light {
    background-color: #65DBA3 !important;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    color: #F2FFF3;
}

.navbar a:hover {
    color: #41B07B;
}

.navbar-nav>a {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

.navbar-nav>button {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.15em;
}

.navbar-nav_profile_icon {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px !important;
    text-decoration: none;
    text-transform: uppercase;
    background: #D9D9D9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.navbar-nav .dropdown>a {
    color: #FFF;
}

.navbar-nav .dropdown .dropdown-item:active {
    background-color: #fff !important;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
}

.game-btn-primary,
.game-btn-second {
    color: #FFF;
    text-decoration: none;
    background-color: #41B07B;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px !important;
    padding: 10px 30px;
    border: none;
}

@media (max-width: 992px) {
    .game-btn-primary,
    .game-btn-second {
        margin-right: 0 !important;
        margin-bottom: 1rem;
    }
}

.game-btn-second {
    background-color: #65DBA3;
    border: 1px solid #41B07B;
}

.game-btn-search {
    color: #FFF;
    background-color: #41B07B;
    width: 10%;
    border-radius: 2rem;
    border: none;
    padding: 0 !important;
}

.game-btn-search svg {
    vertical-align: auto;
    margin-top: -2px;
}

.game-btn-card {
    color: #FFF;
    text-decoration: none;
    background-color: #41B07B;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 30px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: none;
}

.game-btn-primary:hover,
.game-btn-primary:active,
.game-btn-card:hover,
.game-btn-card:active {
    color: #FFF !important;
    background-color: #1a8956 !important;
}

.game-btn-second:hover,
.game-btn-second:active {
    color: #FFF !important;
    background-color: #1a8956 !important;
    border: 1px solid #1a8956 !important;
}

.game-btn-less {
    color: #41b07b;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px !important;
}
  
.game-btn-less:hover,
.game-btn-less:active {
    color: #1a8956 !important;
}

.input-group {
    width: 500px;
    margin: 0 auto;
}

.form-control,
.input-group-text {
    border-radius: 2rem;
    color: #fff;
}

.form-control {
    background-color: #65DBA3;
    padding: 12px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.form-control:focus {
    border-color: #41B07B;
    box-shadow: #41B07B;
}

.input-group-text {
    background-color: #41B07B;
    width: 10%;
}

.carousel-caption {
    text-shadow: 1px 1px 4px #000000;
    text-transform: capitalize;
}

.carousel-item {
    font-family: 'Poppins', sans-serif;
    height: 400px;
}

.carousel-item>img {
    border-radius: 10px;
}

.container-grid-game {
    font-family: 'Inter', sans-serif;
    background: #DEF1E0;
    padding: 26px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-grid-game>h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #60BD8F;
}

.card {
    border-radius: 8px;
    border: none;
}

.card-img-top {
    height: 293px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

.game-list {
    position: absolute;
    text-transform: uppercase;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    color: #fff;
}

.game-list .card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-shadow: 1px 1px 4px #000000;
}

.nav-link:focus {
    color: yellow;
}

.choice:focus {
    background-color: #60BD8F !important;
}

#imgSlide {
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.loader-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 1em;
}

.loader-wrapper .lmns {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin: 0 auto;
    padding: 1em;
}
.lmns span {
    width: 8px;
    height: 8px;
    border-radius: 30%;
    background-color: #60BD8F;
    transform: translateY(-100%);
    animation: wave 0.65s ease-in-out alternate infinite;
}
.lmns span:nth-of-type(1) {
    animation-delay: -0.4s;
}
.lmns span:nth-of-type(2) {
    animation-delay: -0.3s;
}
.lmns span:nth-of-type(3) {
    animation-delay: -0.2s;
}
@keyframes wave {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}

@media screen and (max-width: 776px) {
    .img_choice {
        width: 120px !important;
    }

    .text__info {
        font-size: 18px !important;
    }

    .text__vs {
        font-size: 65px !important;
    }
}